In [1]:
!pip install --user scikit-learn
!pip install --user tensorflow

Requirement already satisfied: scikit-learn in ./.local/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in ./.local/lib/python3.7/site-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./.local/lib/python3.7/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in ./.local/lib/python3.7/site-packages (from scikit-learn) (1.7.0)
Requirement already satisfied: joblib>=0.11 in ./.local/lib/python3.7/site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: tensorflow in ./.local/lib/python3.7/site-packages (2.5.0)
Requirement already satisfied: grpcio~=1.34.0 in ./.local/lib/python3.7/site-packages (from tensorflow) (1.34.1)
Requirement already satisfied: opt-einsum~=3.3.0 in ./.local/lib/python3.7/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: keras-preprocessing~=1.1.2 in ./.local/lib/python3.7/site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: h5py~=3.1.0 in ./.local/lib/python3.7/site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: protobuf>=3.9.2 in ./.local/lib/python3.7/site-packages (from tensorflow) (3.17.3)
Requirement already satisfied: typing-extensions~=3.7.4 in /opt/tljh/user/lib/python3.7/site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: flatbuffers~=1.12.0 in ./.local/lib/python3.7/site-packages (from tensorflow) (1.12)
Requirement already satisfied: six~=1.15.0 in ./.local/lib/python3.7/site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: astunparse~=1.6.3 in ./.local/lib/python3.7/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: tensorboard~=2.5 in ./.local/lib/python3.7/site-packages (from tensorflow) (2.5.0)
Requirement already satisfied: google-pasta~=0.2 in ./.local/lib/python3.7/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: wrapt~=1.12.1 in ./.local/lib/python3.7/site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: tensorflow-estimator<2.6.0,>=2.5.0rc0 in ./.local/lib/python3.7/site-packages (from tensorflow) (2.5.0)
Requirement already satisfied: numpy~=1.19.2 in ./.local/lib/python3.7/site-packages (from tensorflow) (1.19.5)
Requirement already satisfied: absl-py~=0.10 in ./.local/lib/python3.7/site-packages (from tensorflow) (0.13.0)
Requirement already satisfied: keras-nightly~=2.5.0.dev in ./.local/lib/python3.7/site-packages (from tensorflow) (2.5.0.dev2021032900)
Requirement already satisfied: wheel~=0.35 in ./.local/lib/python3.7/site-packages (from tensorflow) (0.36.2)
Requirement already satisfied: termcolor~=1.1.0 in ./.local/lib/python3.7/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: gast==0.4.0 in ./.local/lib/python3.7/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: cached-property; python_version < "3.8" in ./.local/lib/python3.7/site-packages (from h5py~=3.1.0->tensorflow) (1.5.2)
Requirement already satisfied: markdown>=2.6.8 in ./.local/lib/python3.7/site-packages (from tensorboard~=2.5->tensorflow) (3.3.4)
Requirement already satisfied: setuptools>=41.0.0 in /opt/tljh/user/lib/python3.7/site-packages (from tensorboard~=2.5->tensorflow) (56.0.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in ./.local/lib/python3.7/site-packages (from tensorboard~=2.5->tensorflow) (0.6.1)
Requirement already satisfied: werkzeug>=0.11.15 in ./.local/lib/python3.7/site-packages (from tensorboard~=2.5->tensorflow) (2.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/tljh/user/lib/python3.7/site-packages (from tensorboard~=2.5->tensorflow) (2.22.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in ./.local/lib/python3.7/site-packages (from tensorboard~=2.5->tensorflow) (1.32.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in ./.local/lib/python3.7/site-packages (from tensorboard~=2.5->tensorflow) (1.8.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in ./.local/lib/python3.7/site-packages (from tensorboard~=2.5->tensorflow) (0.4.4)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /opt/tljh/user/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard~=2.5->tensorflow) (3.10.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (2020.12.5)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (1.24.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in ./.local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in ./.local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in ./.local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in ./.local/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow) (1.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/tljh/user/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.5->tensorflow) (3.4.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in ./.local/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/tljh/user/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow) (3.1.0)

In [2]:
import sqlite3
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout 
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
from tensorflow.keras.callbacks import TensorBoard
import os
import numpy as np

In [3]:
# loading data

# Create connection
con = sqlite3.connect('uah-usd-data.db')

df = pd.read_sql_query("SELECT * FROM data_for_model", con)

In [4]:
df.head()

,quote_date,uah_usd,eur_usd,rub_usd,pln_usd,brent,steal,wheat,mvemsd
0,2016-01-04,24.000667,0.9152,72.8817,3.8807,37.22,327.0,4.5825,1381.20
1,2016-01-05,24.000667,0.9152,72.8817,3.8807,36.42,327.0,4.6125,1381.95
2,2016-01-06,23.783691,0.9306,72.9293,4.0093,34.23,327.0,4.6275,1382.05
3,2016-01-07,23.783691,0.9306,72.9293,4.0093,33.75,327.0,4.6850,1379.97
4,2016-01-08,23.783691,0.9306,72.9293,4.0093,33.55,327.0,4.7850,1378.09

In [5]:
df.shape

(1342, 9)

In [6]:
df.describe()

,uah_usd,eur_usd,rub_usd,pln_usd,brent,steal,wheat,mvemsd
count,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000,1342.000000
mean,26.537279,0.877764,65.771708,3.810266,56.038361,475.310171,4.982199,1677.446975
std,1.214696,0.035860,6.280954,0.181634,13.185902,81.362388,0.703057,150.547926
min,23.266758,0.800400,55.671200,3.324400,9.120000,318.810000,3.806500,1357.960000
25%,25.784091,0.848700,61.584050,3.712325,47.320000,421.000000,4.430625,1577.805000
50%,26.604243,0.882800,64.746650,3.807250,56.290000,457.000000,4.906250,1638.440000
75%,27.629569,0.902150,70.276800,3.923650,65.657500,521.750000,5.272500,1815.187500
max,28.875837,0.964900,81.839600,4.291900,86.070000,794.000000,7.617500,1983.100000

In [7]:
df.iloc[:, 1]

0       24.000667
1       24.000667
2       23.783691
3       23.783691
4       23.783691
          ...
1337    27.526000
1338    27.467400
1339    27.438100
1340    27.344900
1341    27.340000
Name: uah_usd, Length: 1342, dtype: float64

In [8]:
col = df.pop("uah_usd")
df.insert(8, "uah_usd", col)
df.head()

,quote_date,eur_usd,rub_usd,pln_usd,brent,steal,wheat,mvemsd,uah_usd
0,2016-01-04,0.9152,72.8817,3.8807,37.22,327.0,4.5825,1381.20,24.000667
1,2016-01-05,0.9152,72.8817,3.8807,36.42,327.0,4.6125,1381.95,24.000667
2,2016-01-06,0.9306,72.9293,4.0093,34.23,327.0,4.6275,1382.05,23.783691
3,2016-01-07,0.9306,72.9293,4.0093,33.75,327.0,4.6850,1379.97,23.783691
4,2016-01-08,0.9306,72.9293,4.0093,33.55,327.0,4.7850,1378.09,23.783691

In [9]:
df.iloc[:,0:9].corr()

,eur_usd,rub_usd,pln_usd,brent,steal,wheat,mvemsd,uah_usd
eur_usd,1.000000,-0.108650,0.852911,-0.362860,-0.770225,-0.435740,-0.411130,-0.441139
rub_usd,-0.108650,1.000000,0.337671,-0.428241,-0.001250,0.647963,0.382909,0.326369
pln_usd,0.852911,0.337671,1.000000,-0.535269,-0.607274,-0.073607,-0.156610,-0.216208
brent,-0.362860,-0.428241,-0.535269,1.000000,0.575473,0.086570,0.122574,0.075646
steal,-0.770225,-0.001250,-0.607274,0.575473,1.000000,0.527761,0.435221,0.458621
wheat,-0.435740,0.647963,-0.073607,0.086570,0.527761,1.000000,0.711088,0.353578
mvemsd,-0.411130,0.382909,-0.156610,0.122574,0.435221,0.711088,1.000000,0.216772
uah_usd,-0.441139,0.326369,-0.216208,0.075646,0.458621,0.353578,0.216772,1.000000

In [10]:
X = df.iloc[:, 1:-1].values
Y = df.iloc[:, -1].values

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [12]:
#data preprocessing
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [13]:
X_train.shape

(1073, 7)

In [14]:
model = Sequential()

#first hidden layer
model.add(Dense(64, input_dim=7, activation='relu'))
model.add(BatchNormalization())

#second hidden layer
model.add(Dense(64, activation='relu'))
model.add(BatchNormalization())

#third hidden layer
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
#model.add(Dropout(0.5))

#output layer
model.add(Dense(1, activation='linear'))

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                512
_________________________________________________________________
batch_normalization (BatchNo (None, 64)                256
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
batch_normalization_1 (Batch (None, 64)                256
_________________________________________________________________
dense_2 (Dense)              (None, 32)                2080
_________________________________________________________________
batch_normalization_2 (Batch (None, 32)                128
_________________________________________________________________
dropout (Dropout)            (None, 32)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 33
=================================================================
Total params: 7,425
Trainable params: 7,105
Non-trainable params: 320
_________________________________________________________________

In [16]:
#learning rate 0.001
model.compile(loss='mean_squared_error', optimizer='nadam',)

In [17]:
output_dir = 'model_output/'
run_name = 'my_model'
#run_name = 'my_model_dropuot_0.5'
output_pass = output_dir + run_name

In [ ]:
if not os.path.exists(output_pass):
    os.makedirs(output_pass)

In [ ]:
modelcheckpoint = ModelCheckpoint(output_pass + '/weights.{epoch:02d}.hdf5', save_weights_only = True)

In [ ]:
es_callback = EarlyStopping(monitor="val_loss", min_delta=0, patience=5)

In [ ]:
tensorboard = TensorBoard(log_dir='logs/' + run_name)

In [ ]:
 model.fit(X_train, y_train, batch_size = 24, epochs=50, verbose=1, validation_data=(X_test, y_test),
          callbacks=[modelcheckpoint, es_callback, tensorboard])

In [ ]:
#specify number after training
model.load_weights(output_pass + '/weights.29.hdf5')

In [ ]:
y_test[268]

In [ ]:
#prediction
model.predict(np.reshape(X_test[268], [1, 7]))